// Media query for mobile content (portrait)
@media screen and (max-width: 500px) and (min-height: 501px) {

    // Stats Pop Up content
    .stats_popup_container {
        top: unset;
        bottom: 0;
        left: 0;
        width: 100%;
        height: fit-content;
        justify-content: center;
        gap: 2rem;
        padding: 1rem 0;

        .stats_popup_stats_numbers {
            gap: .75rem;
            padding: 0 .5rem;

            .stats_popup_stats_numbers_title {
                letter-spacing: .05rem;
                font-size: .9rem;
            }

            .stats_numbers_row_container {
                gap: .5rem;

                .singular_stat_container {
                    width: 17%;


                    .singular_stat_number {
                        font-size: 1.3rem;
                    }

                    .singular_stat_text {
                        font-size: .65rem;
                        line-height: .7rem;
                    }
                }
            }
        }

        .stats_popup_stats_graph {
            gap: .75rem;
            padding: 0 1rem;

            .stats_popup_stats_graph_title {
                letter-spacing: .05rem;
                font-size: .9rem;
            }

            .stats_graph_column_container {
                gap: .275rem;

                .singular_graph_line_container {
                    gap: .4rem;

                    .singular_graph_number {
                        font-size: .7rem;
                        letter-spacing: .025rem;
                    }

                    .singular_graph_bar {
                        padding-right: .1rem;

                        p {
                            padding-right: .25rem;
                            font-size: .75rem;
                        }
                    }
                }
            }
        }

        .stats_popup_exit_button {
            top: 2.5%;
            font-size: 1.15rem;
        }
    }
}


// Media query for  small screens (mobile)
@media screen and (max-width: 500px) and (max-height: 500px) {

    // Stats Pop Up content
    .stats_popup_container {
        top: unset;
        bottom: 0;
        left: 0;
        width: 100%;
        height: fit-content;
        justify-content: center;
        gap: 1rem;
        padding: .5rem 0;

        .stats_popup_stats_numbers {
            gap: .5rem;
            padding: 0 .25rem;

            .stats_popup_stats_numbers_title {
                letter-spacing: .05rem;
                font-size: .7rem;
            }

            .stats_numbers_row_container {
                gap: .5rem;

                .singular_stat_container {
                    width: 17%;

                    .singular_stat_number {
                        font-size: .9rem;
                    }

                    .singular_stat_text {
                        font-size: .5rem;
                        line-height: .5rem;
                    }
                }
            }
        }

        .stats_popup_stats_graph {
            gap: .5rem;
            padding: 0 .5rem;

            .stats_popup_stats_graph_title {
                letter-spacing: .05rem;
                font-size: .7rem;
            }

            .stats_graph_column_container {
                gap: .175rem;

                .singular_graph_line_container {
                    gap: .4rem;

                    .singular_graph_number {
                        font-size: .55rem;
                        letter-spacing: .025rem;
                    }

                    .singular_graph_bar {
                        padding-right: .1rem;

                        p {
                            padding-right: .2rem;
                            font-size: .535rem;
                        }
                    }
                }
            }
        }

        .stats_popup_exit_button {
            top: 1.5%;
            font-size: .95rem;
        }
    }
}


// Media query for very small screens (mobile)
@media screen and (max-width: 500px) and (max-height: 400px) {

    // Stats Pop Up content
    .stats_popup_container {
        top: unset;
        bottom: 0;
        left: 0;
        width: 100%;
        height: fit-content;
        justify-content: center;
        gap: .5rem;
        padding: .25rem 0;

        .stats_popup_stats_numbers {
            gap: .25rem;
            padding: 0 .25rem;

            .stats_popup_stats_numbers_title {
                letter-spacing: .045rem;
                font-size: .6rem;
            }

            .stats_numbers_row_container {
                gap: .5rem;

                .singular_stat_container {
                    width: 17%;

                    .singular_stat_number {
                        font-size: .7rem;
                    }

                    .singular_stat_text {
                        font-size: .4rem;
                        line-height: .375rem;
                    }
                }
            }
        }

        .stats_popup_stats_graph {
            gap: .5rem;
            padding: 0 .5rem;

            .stats_popup_stats_graph_title {
                letter-spacing: .045rem;
                font-size: .6rem;
            }

            .stats_graph_column_container {
                gap: .15rem;

                .singular_graph_line_container {
                    gap: .4rem;

                    .singular_graph_number {
                        font-size: .45rem;
                        line-height: .85rem;
                        letter-spacing: .025rem;
                    }

                    .singular_graph_bar {
                        padding-right: .1rem;

                        p {
                            padding-right: .2rem;
                            font-size: .475rem;
                            line-height: .85rem;
                        }
                    }
                }
            }
        }

        .stats_popup_exit_button {
            top: .5%;
            right: 1.5%;
            font-size: .75rem;
        }
    }
}


// Media queries for mobile content (landscape)
@media screen and (max-height: 650px) and (min-width: 501px) {

    // Stats Pop Up content
    .stats_popup_container {
         top: unset;
         bottom: 0;
         left: 10%;
         width: 80%;
         height: fit-content;
         justify-content: center;
         gap: 1.25rem;
         padding: .9rem 0 .5rem 0;

        .stats_popup_stats_numbers {
            gap: .85rem;
            padding: 0 .75rem;

            .stats_popup_stats_numbers_title {
                letter-spacing: .05rem;
                font-size: .875rem;
            }

            .stats_numbers_row_container {
                gap: .25rem;

                .singular_stat_container {
                    width: 15%;

                    .singular_stat_number {
                        font-size: 1.175rem;
                    }

                    .singular_stat_text {
                        font-size: .575rem;
                        line-height: .75rem;
                    }
                }
            }
        }

        .stats_popup_stats_graph {
            gap: .85rem;
            padding: 0 1rem;

            .stats_popup_stats_graph_title {
                letter-spacing: .05rem;
                font-size: .875rem;
            }

            .stats_graph_column_container {
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-evenly;
                gap: .175rem;

                .singular_graph_line_container {
                    gap: .3rem;
                    width: 40%;

                    .singular_graph_number {
                        font-size: .65rem;
                        letter-spacing: .025rem;
                    }

                    .singular_graph_bar {
                        padding-right: .1rem;

                        p {
                            padding-right: .25rem;
                            font-size: .575rem;
                        }
                    }
                }
            }
        }

        .stats_popup_exit_button {
            right: 2%;
            font-size: 1.15rem;
        }
    }
}


// Media queries for small tablet content (square)
@media screen and (min-height: 650px) and (max-height: 725px) and (min-width: 501px) and (max-width: 700px) {

    // Stats Pop Up content
    .stats_popup_container {
        top: unset;
        bottom: 0;
        left: 0;
        width: 100%;
        height: fit-content;
        justify-content: center;
        gap: 2rem;
        padding: 1rem 0;

        .stats_popup_stats_numbers {
            gap: .75rem;
            padding: 0 .5rem;

            .stats_popup_stats_numbers_title {
                letter-spacing: .05rem;
                font-size: .9rem;
            }

            .stats_numbers_row_container {
                gap: .5rem;

                .singular_stat_container {
                    width: 17%;

                    .singular_stat_number {
                        font-size: 1.3rem;
                    }

                    .singular_stat_text {
                        font-size: .65rem;
                        line-height: .7rem;
                    }
                }
            }
        }

        .stats_popup_stats_graph {
            gap: .75rem;
            padding: 0 1rem;

            .stats_popup_stats_graph_title {
                letter-spacing: .05rem;
                font-size: .9rem;
            }

            .stats_graph_column_container {
                gap: .275rem;

                .singular_graph_line_container {
                    gap: .4rem;

                    .singular_graph_number {
                        font-size: .7rem;
                        letter-spacing: .025rem;
                    }

                    .singular_graph_bar {
                        padding-right: .1rem;

                        p {
                            padding-right: .25rem;
                            font-size: .75rem;
                        }
                    }
                }
            }
        }

        .stats_popup_exit_button {
            top: 2.5%;
            font-size: 1.15rem;
        }
    }
}


// Media queries for tablet content (portrait)
@media screen and (min-height: 650px) and (max-height: 725px) and (min-width: 701px) {

    // Stats Pop Up content
    .stats_popup_container {
        top: 12.5%;
        width: 60%;
        left: 20%;
        padding: 1.5rem 0;
        height: fit-content;

        .stats_popup_stats_numbers {
    
            .stats_numbers_row_container {
                gap: 1.5rem;
    
                .singular_stat_container {
    
                    .singular_stat_number{
                        font-size: 1.65rem;
                    }
    
                    .singular_stat_text {
                        font-size: .7rem;
                        line-height: .9rem;
                    }
                }
            }
        }
    }
}


// Media queries for mobile high height square-ish screens
@media screen and (min-height: 725px) and (min-width: 501px) and (max-width: 1201px) {

    // Stats Pop Up content
    .stats_popup_container {
        width: 60%;
        left: 20%;
        height: fit-content;

        .stats_popup_stats_numbers {

            .stats_numbers_row_container {
                gap: 1.5rem;
    
                .singular_stat_container {
    
                    .singular_stat_number{
                        font-size: 1.65rem;
                    }
    
                    .singular_stat_text {
                        font-size: .7rem;
                        line-height: .9rem;
                    }
                }
            }
        }
    }
}