// Media query for mobile content (portrait)
@media screen and (max-width: 500px) and (min-height: 501px) {

    // Footer content
    .footer_container {
        padding: 1rem .25rem .75rem 0rem;
        gap: .5rem;
        font-size: .625rem;

        .footer_text_description {
            gap: .65rem;

            .footer_text {

                p {
                    letter-spacing: .01rem;
                    word-spacing: .025rem;
                    font-size: .625rem;
                }
            }

            .footer_icon_container {
                gap: .5rem;

                a {
                    width: 1.2rem;
                    height: 1.2rem;
                    padding: 0;

                    i {
                        font-size: .95rem;
                    }

                    &:hover {

                        i {
                            color: var(--extra-menu-icon-color);
                            translate: 0 0;
                        }
                    }
                }
            }
        }
    }
}


// Media query for small screens (mobile)
@media screen and (max-width: 500px) and (max-height: 500px) {

    // Footer content
    .footer_container {
        padding: .5rem .15rem .25rem 0rem;
        gap: .25rem;
        font-size: .525rem;
        line-height: .75rem;

        .footer_text_description {
            gap: .35rem;

            .footer_text {

                p {
                    letter-spacing: .01rem;
                    word-spacing: .025rem;
                    font-size: .525rem;
                }
            }

            .footer_icon_container {
                gap: .5rem;

                a {
                    width: 1rem;
                    height: 1rem;
                    padding: 0;

                    i {
                        font-size: .775rem;
                    }

                    &:hover {

                        i {
                            color: var(--extra-menu-icon-color);
                            translate: 0 0;
                        }
                    }
                }
            }
        }
    }
}


// Media query for very small screens (mobile)
@media screen and (max-width: 500px) and (max-height: 400px) {

    // Footer content
    .footer_container {
        padding: .35rem .15rem .25rem 0rem;
        gap: .3rem;
        font-size: .515rem;
        line-height: .625rem;

        .footer_text_description {
            gap: .3rem;

            .footer_text {

                p {
                    letter-spacing: .01rem;
                    word-spacing: .025rem;
                    font-size: .515rem;
                }
            }

            .footer_icon_container {
                gap: .5rem;

                a {
                    width: .95rem;
                    height: .95rem;
                    padding: 0;

                    i {
                        font-size: .725rem;
                    }

                    &:hover {

                        i {
                            color: var(--extra-menu-icon-color);
                            translate: 0 0;
                        }
                    }
                }
            }
        }
    }
}


// Media queries for mobile content (landscape)
@media screen and (max-height: 650px) and (min-width: 501px) {

    // Footer content
    .footer_container {
        padding: .75rem .25rem .5rem 0rem;
        gap: .4rem;
        font-size: .6rem;

        .footer_text_description {
            gap: .4rem;

            .footer_text {

                p {
                    letter-spacing: .015rem;
                    word-spacing: .025rem;
                    font-size: .6rem;
                }
            }

            .footer_icon_container {
                gap: .75rem;

                a {
                    width: 1.1rem;
                    height: 1.1rem;
                    padding: 0;

                    i {
                        font-size: .95rem;
                    }

                    &:hover {

                        i {
                            color: var(--extra-menu-icon-color);
                            translate: 0 0;
                        }
                    }
                }
            }
        }
    }
}


// Media queries for small tablet content (square)
@media screen and (min-height: 650px) and (max-height: 725px) and (min-width: 501px) {

    // Footer content
    .footer_container {
        padding: 1rem .25rem .75rem 0rem;
        gap: .5rem;
        font-size: .625rem;

        .footer_text_description {
            gap: .65rem;

            .footer_text {

                p {
                    letter-spacing: .01rem;
                    word-spacing: .025rem;
                    font-size: .625rem;
                }
            }

            .footer_icon_container {
                gap: .5rem;

                a {
                    width: 1.2rem;
                    height: 1.2rem;
                    padding: 0;

                    i {
                        font-size: .95rem;
                    }

                    &:hover {

                        i {
                            color: var(--extra-menu-icon-color);
                            translate: 0 0;
                        }
                    }
                }
            }
        }
    }
}