// Media query for mobile content (portrait)
@media screen and (max-width: 500px) and (min-height: 501px) {

    // Footer content
    .footer_container {
        // width: 100%;
        // color: var(--popup-text-description-color);
        padding: 1rem .25rem .75rem 0rem;
        // display: flex;
        // align-items: flex-start;
        // justify-content: center;
        // flex-direction: column;
        gap: .5rem;
        font-size: .625rem;

        // .footer_api_description {

        //     p {
        //         // margin: 0;

        //         a {
        //             // color: var(--popup-text-description-color);
        //         }
        //     }
        // }

        // .footer_design_description {

        //     p {
        //         margin: 0;

        //         a {
        //             color: var(--popup-text-description-color);
        //         }
        //     }
        // }

        .footer_text_description {
            // display: flex;
            // align-items: flex-start;
            // justify-content: center;
            // flex-direction: column;
            gap: .65rem;

            .footer_text {
                p {
                    // margin: 0;
                    letter-spacing: .01rem;
                    word-spacing: .025rem;
                    font-size: .625rem;
                    // color: var(--popup-text-description-color);
                }
            }

            .footer_icon_container {
                // display: flex;
                // align-items: center;
                // justify-content: center;
                gap: .5rem;

                a {
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;
                    width: 1.2rem;
                    height: 1.2rem;
                    padding: 0;
                    // transition: all .2s ease-in-out;
                    // text-decoration: none;

                    i {
                        // color: var(--extra-menu-icon-color);
                        font-size: .95rem;
                        // transition: all .2s ease;
                    }

                    &:hover {

                        i {
                            color: var(--extra-menu-icon-color);
                            translate: 0 0;
                        }
                    }
                }
            }
        }
    }
}


// Media queries for mobile content (landscape)
@media screen and (max-height: 650px) and (min-width: 500px) and (max-width: 1000px) {

    // Footer content
    .footer_container {
        // width: 100%;
        // color: var(--popup-text-description-color);
        padding: .75rem .25rem .5rem 0rem;
        // display: flex;
        // align-items: flex-start;
        // justify-content: center;
        // flex-direction: column;
        gap: .4rem;
        font-size: .6rem;

        // .footer_api_description {

        //     p {
        //         // margin: 0;

        //         a {
        //             // color: var(--popup-text-description-color);
        //         }
        //     }
        // }

        // .footer_design_description {

        //     p {
        //         margin: 0;

        //         a {
        //             color: var(--popup-text-description-color);
        //         }
        //     }
        // }

        .footer_text_description {
            // display: flex;
            // align-items: flex-start;
            // justify-content: center;
            // flex-direction: column;
            gap: .4rem;

            .footer_text {
                p {
                    // margin: 0;
                    letter-spacing: .015rem;
                    word-spacing: .025rem;
                    font-size: .6rem;
                    // color: var(--popup-text-description-color);
                }
            }

            .footer_icon_container {
                // display: flex;
                // align-items: center;
                // justify-content: center;
                gap: .75rem;

                a {
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;
                    width: 1.1rem;
                    height: 1.1rem;
                    padding: 0;
                    // transition: all .2s ease-in-out;
                    // text-decoration: none;

                    i {
                        // color: var(--extra-menu-icon-color);
                        font-size: .95rem;
                        // transition: all .2s ease;
                    }

                    &:hover {

                        i {
                            color: var(--extra-menu-icon-color);
                            translate: 0 0;
                        }
                    }
                }
            }
        }
    }
}