// Footer content
.footer_container {
    width: 100%;
    color: var(--tile-wrong-color);
    padding: 1.5rem .25rem 1.5rem .25rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    font-size: .75rem;

    .footer_api_description {

        p { 
            margin: 0;

            a {
                color: var(--tile-wrong-color);
            }
        }
    }

    .footer_design_description {

        p {
            margin: 0;

            a {
                color: var(--tile-wrong-color);
            }
        }
    }

    .footer_text_description {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .75rem;
        align-self: center;

        .footer_text {
            p {
                margin: 0;
                letter-spacing: .015rem;
                word-spacing: .025rem;
                font-size: .75rem;
                color: var(--tile-wrong-color);
            }
        }

        .footer_icon_container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .25rem;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--keyboard-letter-text-color);
                width: 1.5rem;
                height: 1.5rem;
                padding: 1rem;
                transition: all .2s ease-in-out;
                text-decoration: none;

                i {
                    color: var(--extra-menu-clickable-hover-color);
                    font-size: 1.2rem;
                    transition: all .2s ease;
                }

                &:hover {

                    i {
                        color: var(--tile-present-color);
                        translate: 0 -12.5%;
                    }
                }
            }
        }
    }
}

@import './media';