// Media query for mobile content (portrait)
@media screen and (max-width: 500px) and (min-height: 501px) {

    // Navbar content
    .navbar_container {
        // color: var(--header-color);
        // display: flex;
        justify-content: flex-start;
        // align-items: center;
        // width: 100%;
        // border-bottom: .01rem solid var(--header-border-color);
        padding: .25rem 1rem;

        .navbar_menu_container {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 1.15rem;
            // cursor: pointer;
        }

        .navbar_title {
            margin: 0;
            font-size: 1.6rem;
            // font-weight: bolder;
            // font-family: 'Volkhov', serif;
            // letter-spacing: -.15rem;
            margin-left: 1rem;
        }

        .navbar_icons_container {
            // display: flex;
            // align-items: center;
            justify-content: flex-end;
            width: inherit;
            gap: .5rem;
            font-size: 1.5rem;

            // .navbar_icon_container {
            //     cursor: pointer;
            // }
        }
    }
}


// Media query for small screens (mobile)
@media screen and (max-width: 500px) and (max-height: 500px) {

    // Navbar content
    .navbar_container {
        // color: var(--header-color);
        // display: flex;
        justify-content: flex-start;
        // align-items: center;
        // width: 100%;
        // border-bottom: .01rem solid var(--header-border-color);
        padding: .25rem .5rem;

        .navbar_menu_container {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: .85rem;
            // cursor: pointer;
        }

        .navbar_title {
            margin: 0;
            font-size: 1.3rem;
            // font-weight: bolder;
            // font-family: 'Volkhov', serif;
            // letter-spacing: -.15rem;
            margin-left: .75rem;
        }

        .navbar_icons_container {
            // display: flex;
            // align-items: center;
            justify-content: flex-end;
            width: inherit;
            gap: .4rem;
            font-size: 1.05rem;

            // .navbar_icon_container {
            //     cursor: pointer;
            // }
        }
    }
}


// Media query for very small screens (mobile)
@media screen and (max-width: 500px) and (max-height: 400px) {

    // Navbar content
    .navbar_container {
        // color: var(--header-color);
        // display: flex;
        justify-content: flex-start;
        // align-items: center;
        // width: 100%;
        // border-bottom: .01rem solid var(--header-border-color);
        padding: .25rem .5rem;

        .navbar_menu_container {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: .8rem;
            // cursor: pointer;
        }

        .navbar_title {
            margin: 0;
            font-size: 1.25rem;
            // font-weight: bolder;
            // font-family: 'Volkhov', serif;
            // letter-spacing: -.15rem;
            margin-left: .7rem;
        }

        .navbar_icons_container {
            // display: flex;
            // align-items: center;
            justify-content: flex-end;
            width: inherit;
            gap: .4rem;
            font-size: 1rem;

            // .navbar_icon_container {
            //     cursor: pointer;
            // }
        }
    }
}


// Media queries for mobile content (landscape)
@media screen and (max-height: 650px) and (min-width: 500px) and (max-width: 1000px) {

    // Navbar content
    .navbar_container {
        // color: var(--header-color);
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // width: 100%;
        // border-bottom: .01rem solid var(--header-border-color);
        padding: .15rem .75rem;

        .navbar_menu_container {
            font-size: 1.05rem;
            // cursor: pointer;
        }

        .navbar_title {
            // margin: 0;
            font-size: 1.55rem;
            // font-weight: bolder;
            // font-family: 'Volkhov', serif;
            letter-spacing: -.1rem;
            margin-left: 5.5rem;
        }

        .navbar_icons_container {
            // display: flex;
            // align-items: center;
            // width: fit-content;
            // gap: 1rem;
            font-size: 1.05rem;

            .navbar_icon_container {

                &.fullscreen_suggestion {
                    position: relative;

                    i {
                        @keyframes iconBlink {
                            0% {
                                color: var(--header-color);
                            }

                            8% {
                                color: var(--settings-popup-notification-box-shadow-color);
                                scale: 1.1;
                            }

                            15% {
                                scale: 1;
                                color: var(--header-color);
                            }

                            23% {
                                color: var(--settings-popup-notification-box-shadow-color);
                                scale: 1.1;
                            }

                            30% {
                                scale: 1;
                                color: var(--header-color);
                            }

                            100% {
                                color: var(--header-color);
                            }
                        }

                        animation: iconBlink 5s ease-in-out;
                    }

                    &::after {
                        position: absolute;
                        content: 'Tap for Fullscreen Mode';
                        left: 50%;
                        top: 120%;
                        height: fit-content;
                        width: 6rem;
                        opacity: 0;
                        translate: -50% 0;
                        font-size: .65rem;
                        border-radius: .25rem;
                        padding: .35rem .2rem;
                        text-align: center;
                        background-color: var(--settings-popup-notification-bg-color);
                        color: var(--keyboard-letter-checked-color);
                        z-index: 4;

                        @keyframes textGlow {
                            0% {
                                opacity: 0;
                                box-shadow: 0 0 0rem 0rem var(--settings-popup-notification-box-shadow-color);
                            }

                            8% {
                                opacity: 1;
                                box-shadow: 0 0 .85rem .3rem var(--settings-popup-notification-box-shadow-color);
                            }

                            15% {
                                box-shadow: 0 0 0.15rem .05rem var(--settings-popup-notification-box-shadow-color);
                            }

                            23% {
                                box-shadow: 0 0 .85rem .3rem var(--settings-popup-notification-box-shadow-color);
                            }

                            30% {
                                opacity: 1;
                                box-shadow: 0 0 0rem 0rem var(--settings-popup-notification-box-shadow-color);
                            }

                            100% {
                                opacity: 0;
                                box-shadow: 0 0 0rem 0rem var(--settings-popup-notification-box-shadow-color);
                            }
                        }

                        animation: textGlow 5s ease-in-out;
                    }
                }
            }
        }
    }
}


// Media queries for small tablet content (square)
@media screen and (min-height: 650px) and (max-height: 800px) and (min-width: 501px) and (max-width: 700px) {

    // Navbar content
    .navbar_container {
        // color: var(--header-color);
        // display: flex;
        //justify-content: space-between;
        // align-items: center;
        // width: 100%;
        // border-bottom: .01rem solid var(--header-border-color);
        padding: .4rem 1rem;

        .navbar_menu_container {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 1.15rem;
            // cursor: pointer;
        }

        .navbar_title {
            margin: 0;
            font-size: 1.65rem;
            // font-weight: bolder;
            // font-family: 'Volkhov', serif;
            // letter-spacing: -.15rem;
            margin-left: 4.4rem;
        }

        .navbar_icons_container {
            // display: flex;
            // align-items: center;
            justify-content: flex-end;
            width: fit-content;
            gap: .85rem;
            font-size: 1.5rem;

            // .navbar_icon_container {
            //     cursor: pointer;
            // }
        }
    }
}