.navbar_container {
    color: var(--header-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: .01rem solid var(--header-border-color);
    padding: .65rem 1.2rem;

    .navbar_menu_container {
        font-size: 1.4rem;
        cursor: pointer;
    }

    .navbar_title {
        margin: 0;
        font-size: 2.15rem;
        font-weight: bolder;
        font-family: 'Volkhov', serif;
        letter-spacing: -.15rem;
        margin-left: 4.4rem;
        cursor: pointer;
    }

    .navbar_icons_container {
        display: flex;
        align-items: center;
        width: fit-content;
        gap: 1rem;
        font-size: 1.75rem;

        .navbar_icon_container {
            cursor: pointer;
        }
    }
}

@import './media.scss'