// Media query for unsuitable screens (mobile extremelly small)
@media screen and (max-width: 200px),
screen and (max-height: 300px) {

    // App content
    .app_container {
        visibility: hidden;
        overflow: hidden;

        &::before {
            position: fixed;
            visibility: visible;
            background-color: var(--app-bg-color);
            color: var(--header-color);
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            content: "Your screen is too small to display this App :(";
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 10;
        }
    }
}


// Media query for small screens (mobile)
@media screen and (max-width: 500px) and (max-height: 500px) {

    // Main content
    .main_container {

        .game_container {
            width: 100%;
            padding: .35rem;

            .gameboard_container {
                gap: .2rem;
                width: 100%;
                padding: .25rem;
                padding-top: .5rem;
            }

            .keyboard_container {
                gap: .25rem;
                width: 100%;
            }
        }


        .notification_container {
            top: .5%;
            padding: .25rem .5rem;
            font-size: .7rem;
            line-height: .8rem;
            text-align: center;
        }

        .reset_game_button {
            top: 61.75%;
            right: 11.5%;
            translate: 50% 0;
            margin-right: unset;
            font-size: 0.6rem;
            padding: 0.15rem .25rem;
        }
    }

    .main_container_loading {
        
        i {
            font-size: 2.5rem;
        }
    }
}


// Media query for very small screens (mobile)
@media screen and (max-width: 500px) and (max-height: 400px) {

    // Main content
    .main_container {

        .game_container {
            width: 100%;
            padding: .1rem .25rem;

            .gameboard_container {
                gap: .15rem;
                width: 100%;
                padding: .25rem;
                padding-top: .3rem;
            }

            .keyboard_container {
                gap: .2rem;
                width: 100%;
                padding-bottom: .1rem;
            }
        }


        .notification_container {
            top: .5%;
            padding: .15rem .5rem;
            font-size: .575rem;
            letter-spacing: .01rem;
            line-height: .8rem;
            text-align: center;
        }

        .reset_game_button {
            top: 66%;
            right: 11.5%;
            translate: 50% 0;
            margin-right: unset;
            font-size: 0.5rem;
            padding: 0.15rem .25rem;
        }
    }
}


// Media query for mobile content (portrait low height)
@media screen and (max-width: 500px) and (min-height: 501px) {

    // Main content
    .main_container {

        .game_container {
            width: 100%;
            padding: .35rem;

            .gameboard_container {
                gap: .25rem;
                width: 100%;
                padding: .25rem;
                padding-top: 1.75rem;
            }

            .keyboard_container {
                gap: .35rem;
                width: 100%;
            }
        }

        .notification_container {
            top: .5%;
            padding: .5rem .75rem;
            font-size: .8rem;
        }

        .reset_game_button {
            top: 59%;
            right: 15%;
            translate: 50% 0;
            margin-right: unset;
            font-size: 0.75rem;
            padding: 0.35rem .75rem;
        }
    }

    .main_container_loading {
        
        i {
            font-size: 2.5rem;
        }
    }
}


// Media query for mobile content (portrait)
@media screen and (max-width: 500px) and (min-height: 625px) {

    // Main content
    .main_container {

        .reset_game_button {
            top: 67.5%;
            right: 15%;
            margin-right: unset;
        }
    }
}


// Media queries for mobile content (landscape low height)
@media screen and (max-height: 351px) and (min-width: 500px) {

    // Main content
    .main_container {

        .game_container {
            width: 100%;
            padding: .2rem;

            .gameboard_container {
                flex-wrap: wrap;
                gap: .2rem 2rem;
                width: 100%;
                padding: .15rem;
                padding-top: .5rem;
            }

            .keyboard_container {
                gap: .2rem;
                width: 100%;
                padding-bottom: .15rem;
            }
        }

        .notification_container {
            top: 2.5%;
            padding: .25rem .5rem;
            font-size: .7rem;
        }

        .reset_game_button {
            top: 65%;
            right: 10%;
            translate: 50% 0;
            margin-right: unset;
            font-size: 0.6rem;
            padding: 0.25rem .65rem;
        }
    }

    .main_container_loading {
        
        i {
            font-size: 2.75rem;
        }
    }
}


// Media queries for mobile content (landscape)
@media screen and (min-height: 351px) and (max-height: 651px) and (min-width: 501px) {

    // Main content
    .main_container {

        .game_container {
            width: 100%;
            padding: .25rem;

            .gameboard_container {
                flex-wrap: wrap;
                gap: .25rem 2rem;
                width: 100%;
                padding: .15rem;
                padding-top: .5rem;
            }

            .keyboard_container {
                gap: .2rem;
                width: 100%;
                padding-bottom: .15rem;
            }
        }

        .notification_container {
            top: 2.5%;
            padding: .25rem .5rem;
            font-size: .7rem;
        }

        .reset_game_button {
            top: 65%;
            right: 10%;
            translate: 50% 0;
            margin-right: unset;
            font-size: 0.6rem;
            padding: 0.25rem .65rem;
        }
    }

    .main_container_loading {
        
        i {
            font-size: 3.75rem;
        }
    }
}


// Media queries for small tablet content (square)
@media screen and (min-height: 650px) and (max-height: 800px) and (min-width: 501px) and (max-width: 700px) {

    // Main content
    .main_container {

        .game_container {
            width: 100%;
            padding: .2rem;

            .gameboard_container {
                gap: .25rem;
                width: 100%;
                padding: .25rem;
                padding-top: 2rem;
            }

            .keyboard_container {
                gap: .35rem;
                width: 100%;
            }
        }

        .notification_container {
            top: .5%;
            padding: .35rem .5rem;
            font-size: .8rem;
            line-height: .8rem;
            text-align: center;
            letter-spacing: .005rem;
        }

        .reset_game_button {
            top: 68.75%;
            right: 12.5%;
            margin-right: unset;
            font-size: 0.775rem;
            padding: 0.45rem 1.15rem;
        }
    }

    .main_container_loading {
        
        i {
            font-size: 4rem;
        }
    }
}


// Media queries for tablet content (portrait)
@media screen and (min-height: 650px) and (max-height: 725px) and (min-width: 701px) {

    // Main content
    .main_container {

        .game_container {
            width: 100%;
            padding: .2rem;

            .gameboard_container {
                gap: .3rem;
                width: 100%;
                padding: .25rem;
                padding-top: 1.35rem;
            }

            .keyboard_container {
                gap: .325rem;
                width: 100%;
            }
        }

        .notification_container {
            top: 1%;
            padding: .45rem .75rem;
            font-size: .9rem;
            line-height: .9rem;
            text-align: center;
            letter-spacing: .005rem;
        }

        .reset_game_button {
            top: 67%;
            right: 3.5%;
            margin-right: unset;
            font-size: 0.875rem;
            padding: 0.4rem 1.25rem;
        }
    }
}