// Font imports
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap');


// General page content
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


// Style variables
:root {
    --app-bg-color: #ffffff;
    --header-color: #000000;
    --header-border-color: #d3d6da;
    --tile-correct-color: #6aaa64;
    --tile-present-color: #c9b458;
    --tile-wrong-color: #787c7e;
    --tile-text-color: #ffffff;
    --tile-border-color: #d3d6da;
    --tile-hightlighted-border-color: #878a8c;
    --keyboard-letter-text-color: #000000;
    --keyboard-letter-checked-color: #ffffff;
    --keyboard-letter-tile-bg-color: #d3d6da;
    --keyboard-letter-highlight-color: #5c8d78;
    --popup-bg-color: #ffffff; 
    --popup-border-color: #f6f7f8;
    --popup-box-shadow-color: rgba(0, 0, 0, .375);
    --popup-text-description-color: #787c7e;

    --footer-bg-color: rgb(27, 27, 27);
}


// Dark mode variables
.dark_mode {
    --app-bg-color: #121213;
    --header-color: #ffffff;
    --header-border-color: #3a3a3c;
    --tile-correct-color: #538d4e;
    --tile-present-color: #b59f3b;
    --tile-wrong-color: #3a3a3c;
    --tile-border-color: #363636;
    --tile-hightlighted-border-color: #565758;
    --tile-text-color: #ffffff;
    --keyboard-letter-text-color: #ffffff;
    --keyboard-letter-checked-color: #ffffff;
    --keyboard-letter-tile-bg-color: #818384;
    --keyboard-letter-highlight-color: #5c8d78;
    --popup-bg-color: #121213;
    --popup-border-color: #1a1a1b;
    --popup-box-shadow-color: rgba(0, 0, 0, .5);
    --popup-text-description-color: #818384;

    --footer-bg-color: rgb(27, 27, 27);
}


// High contrast mode variables
.high_contrast_mode {
    --tile-correct-color: #f5793a;
    --tile-present-color: #85c0f9;
}


// App content
.app_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--app-bg-color);
}


.main_container_loading {
    i {
        font-size: 5rem;
        color: var(--tile-text-color);
    }
}


.main_container {
    position: relative;
    width: 100%;

    .game_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;

        .gameboard_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: .35rem;
        }

        .keyboard_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;
        }
    }

    .api_warnings {
        position: absolute;
        top: 30%;
        left: 20%;
        color: var(--tile-text-color);
    }


    .notification_container {
        position: absolute;
        top: 10%;
        left: 50%;
        padding: 1rem;
        background-color: var(--tile-text-color);
        color: var(--app-bg-color);
        width: fit-content;
        z-index: 4;


        @keyframes popInAndOut {
            0% {
                opacity: .25;
            }

            25% {
                opacity: 1;
            }

            75% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        animation: popInAndOut 3s ease 0s;
        animation-fill-mode: forwards;


        &.notification_container_invisible {
            display: none;
        }
    }
}