// Font imports
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap');

// General page content
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

// Style variables
:root {
    --tile-correct-color: #538d4e;
    --tile-present-color: #b59f3b;
    --tile-wrong-color: #3a3a3c;
    --tile-border-color: #363636;
    --tile-text-color: #ffffff;
    --keyboard-letter-tile-bg-color: #818384;
    --keyboard-letter-highlight-color: #5c8d78;
    --keyboard-letter-text-color: #ffffff;
    --app-bg-color: #121213;
    --header-border-color: #3a3a3c;
    --footer-bg-color: rgb(27, 27, 27);
}


// App content
.app_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--app-bg-color);
}

.main_container_loading {
    i {
        font-size: 5rem;
        color: var(--tile-text-color);
    }
}

.main_container {

    .game_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;

        .gameboard_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: .35rem;
        }

        .keyboard_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;
        }
    }


    .reset_button {
        position: absolute;
        top: 80%;
        right: 20%;
    }

    .game_settings_container {
        position: absolute;
        top: 20%;
        right: 20%;
        //display: none;
        color: var(--tile-text-color);

        .game_settings_words {
            color: blue;

            &.game_settings_words_invisible {
                display: none;
            }
        }
    }

    .api_warnings {
        position: absolute;
        top: 30%;
        left: 20%;
        color: var(--tile-text-color);
    }

    .notification_container {
        position: absolute;
        top: 10%;
        left: 50%;
        padding: 1rem;
        background-color: var(--tile-text-color);
        color: var(--app-bg-color);
        width: fit-content;
        z-index: 4;


        @keyframes popInAndOut {
            0% {
                opacity: .25;
            }

            25% {
                opacity: 1;
            }

            75% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        animation: popInAndOut 2s ease 0s;
        animation-fill-mode: forwards;


        &.notification_container_invisible {
            display: none;
        }
    }

}