// Font imports
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap');


// General page content
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


// Style variables
:root {
    --app-bg-color: #ffffff;
    --header-color: #000000;
    --header-border-color: #d3d6da;
    --tile-correct-color: #6aaa64;
    --tile-present-color: #c9b458;
    --tile-wrong-color: #787c7e;
    --tile-text-color: #ffffff;
    --tile-border-color: #d3d6da;
    --tile-hightlighted-border-color: #878a8c;
    --keyboard-letter-text-color: #000000;
    --keyboard-letter-checked-color: #ffffff;
    --keyboard-letter-tile-bg-color: #d3d6da;
    --keyboard-letter-highlight-color: #5c8d78;
    --popup-bg-color: #ffffff; 
    --popup-border-color: #f6f7f8;
    --popup-box-shadow-color: rgba(0, 0, 0, .375);
    --popup-text-description-color: #787c7e;
    --settings-popup-notification-bg-color: #aeb1b4;
    --settings-popup-notification-box-shadow-color: #ad9900;
    --extra-menu-box-shadow-color: rgba(0, 0, 0, .15);
    --extra-menu-border-color: #dcdcdc;
    --extra-menu-clickable-hover-color: #d3d6da;
    --extra-menu-icon-color: #2f2f31;
    --notification-bg-color: #ffffff;
    --notification-color: #000000;
    --notification-box-shadow-color: #000000;
}


// Dark mode variables
.dark_mode {
    --app-bg-color: #121213;
    --header-color: #ffffff;
    --header-border-color: #3a3a3c;
    --tile-correct-color: #538d4e;
    --tile-present-color: #b59f3b;
    --tile-wrong-color: #3a3a3c;
    --tile-border-color: #363636;
    --tile-hightlighted-border-color: #565758;
    --tile-text-color: #ffffff;
    --keyboard-letter-text-color: #ffffff;
    --keyboard-letter-checked-color: #ffffff;
    --keyboard-letter-tile-bg-color: #818384;
    --keyboard-letter-highlight-color: #5c8d78;
    --popup-bg-color: #121213;
    --popup-border-color: #1a1a1b;
    --popup-box-shadow-color: rgba(0, 0, 0, .5);
    --popup-text-description-color: #818384;
    --settings-popup-notification-bg-color: #3a3a3c;
    --settings-popup-notification-box-shadow-color: #b59f3b;
    --extra-menu-box-shadow-color: rgba(0, 0, 0, .15);
    --extra-menu-border-color: #dcdcdc;
    --extra-menu-clickable-hover-color: #2f2f31;
    --extra-menu-icon-color: #818384;
    --notification-bg-color: #ffffff;
    --notification-color: #000000;
    --notification-box-shadow-color: #000000;
}


// High contrast mode variables
.high_contrast_mode {
    --tile-correct-color: #f5793a;
    --tile-present-color: #85c0f9;
}


// App content
.app_container {
    width: 100vw;
    //height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    //gap: 2.75rem;
    background-color: var(--app-bg-color);
}


// Main content
.main_container {
    position: relative;
    width: 100%;
    height: 100%;

    .game_container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        //gap: 2.75rem;

        .gameboard_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: .35rem;
            padding-top: 2.75rem;
        }

        .keyboard_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;
            padding-bottom: .5rem;
        }
    }


    .notification_container {
        position: absolute;
        top: -1.5%;
        left: 50%;
        translate: -50% 0;
        padding: 1rem;
        background-color: var(--notification-bg-color);
        color: var(--notification-color);
        box-shadow: 0 0 .5rem var(--notification-box-shadow-color);
        border-radius: .25rem;
        width: fit-content;
        z-index: 4;

        @keyframes popInAndOut {
            0% {
                opacity: .25;
            }

            25% {
                opacity: 1;
            }

            75% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        animation: popInAndOut 3s ease 0s;
        animation-fill-mode: forwards;


        &.notification_container_invisible {
            display: none;
        }
    }

    .reset_game_button {
        position: absolute;
        top: 40%;
        right: 15%;
        opacity: 0;
        background-color: var(--tile-present-color);
        color: var(--popup-bg-color);
        border: 0.05rem solid var(--popup-text-description-color);
        font-size: 0.9rem;
        border-radius: 0.25rem;
        font-weight: bold;
        padding: 0.7rem 1.2rem;
        cursor: pointer;

        @keyframes slowAppear {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @keyframes buttonGlow {
            0% {
                box-shadow: 0 0 .1rem .05rem var(--tile-present-color); 
            }
            33% {
                box-shadow: 0 0 .875rem .25rem var(--tile-present-color);
            }
            66% {
                box-shadow: 0 0 .1rem .05rem var(--tile-present-color);
            }
            100% {
                box-shadow: 0 0 .875rem .25rem var(--tile-present-color);
            }
        }

        animation: slowAppear .5s ease-in-out 5s, buttonGlow 3.5s ease-in-out 0s alternate-reverse infinite;
        animation-fill-mode: forwards;

        &.reset_game_button_hide {
            display: none;
        }
    }
}


.main_container_loading {
    i {
        font-size: 5rem;
        color: var(--tile-text-color);
    }
}


@import './media';